/* src/components/ExpenseTable.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

.table, .th, .td {
  border: 1px solid #ddd;
}

.th, .td {
  padding: 1rem;
  text-align: left;
}

.th {
  background-color: #f2f2f2;
}